In [5]:
import pandas as pd

In [19]:
# definir rutas de archivos a cargar
path_csv = 'df_23_08.csv'
path_excel = 'df_23_08.xlsx'
path_json = 'datos_json/df_23_08.json'

In [7]:
# cargar documento csv
df_csv = pd.read_csv(path_csv)
df_csv

   edad  estatura nacionalidad c_hijos
0    18      1.70         Peru       1
1    18      1.65         Peru     dos
2    25      1.82         EEUU    cero
3    32      2.00      Ucrania       2

In [15]:
# cargar documento excel
df_excel = pd.read_excel(path_excel)
df_excel

   edad  estatura nacionalidad c_hijos
0    18      1.70         Peru       1
1    18      1.65         Peru     dos
2    25      1.82         EEUU    cero
3    32      2.00      Ucrania       2

In [20]:
# cargar documento json
df_json = pd.read_json(path_json)
df_json

   edad  estatura nacionalidad c_hijos
0    18      1.70         Peru       1
1    18      1.65         Peru     dos
2    25      1.82         EEUU    cero
3    32      2.00      Ucrania       2